#main{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#controller{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 240px;
}
button{
  font-size: 180px;
}
#start{
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
}
#lr{margin: auto;}
#label{
  margin: auto;
  text-align: center;
}