<!DOCTYPE html>
<html>
  <head>
    <script src="client.js"></script>
    <style src="start.css"></style>
  </head>
  <body>
    <div id="main">
      <div id="start"><button id="startButton" onclick="start()">START</button></div>
      <div id="controller">
        <div><button id="up" onclick="move(0,1)">^</button></div>
        <div id="lr">
          <button id="left" onclick="move(-1,0)"><</button>
          <button id="right" onclick="move(1,0)">></button>
        </div>
        <div><button id="down" onclick="move(0,-1)">v</button></div>
    </div>
  </body>
</html>